:root {
  --mainBlack: #101820FF;
  --mainOrange: #F2AA4CFF;
  --mainLightGrey: rgba(172,172,172);
  --mainGrey: rgba(109,109,109);
}

 .footer-main {
    background: var(--mainBlack);
    padding-top: 1rem;
    color: var(--mainLightGrey);
    }

.footer-end {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.footer-primary {
  bottom: 0;
  width: 100%;
  position: fixed;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

